<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quick News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .navbar-brand {
            color: aqua !important;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="{% url 'home' %}">Quick News</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> {% endcomment %}
                </ul>
                {% comment %} <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success me-5" type="submit">Search</button>
                </form> {% endcomment %}

                {% if user.is_authenticated %}

                Welcome {{user.username}}
                <a class="btn btn-primary me-2 " href="{% url 'logout' %}">Logout</a>

                {% else %}


                <a class="btn btn-primary me-2 " href="{% url 'login' %}">Login</a>


                <p></p>

                {% endif %}
            </div>
        </div>
    </nav>

    {% block home_page %}    {% endblock home_page%}

    {% block body %}  {% endblock %}

    {% block registeration_page %} {% endblock registeration_page%}

    {% block login_page %}    {% endblock login_page%} 



</body>

</html>