{% extends 'base.html' %}

{% block news_page %}

{% if user.is_authenticated %}


{% for i in articles %}
<div class="carousel slide">
  <div class="card" style="width: 18rem;" >
    <img src="{{i.urlToImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.description}}</p>
      <a href="{{i.url}}" class="btn btn-primary" target= '_blank'>Read More</a>
    </div>
  </div>
</div>
{% endfor %}

{% else %}

{% endif %}

{% endblock news_page%}