{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <!-- About US Start -->
    <div class="about-area">
        <div class="container">
            <!-- Hot Aimated News Tittle-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="trending-tittle">
                        <strong>Trending now</strong>
                        <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                        <div class="trending-animated">
                            <ul id="js-news" class="js-hidden">
                                {% for headline in top_headlines %}
                                <li class="news-item">{{ headline.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Tittle -->
                    <div class="about-right mb-90">
                        <div class="about-img rounded">
                            <img class="rounded" src="{% static 'assets/img/about/veer.jpg' %}" alt="">
                        </div>
                        <div class="section-tittle mb-30 pt-30">
                            <h3>About Us</h3>
                        </div>
                        <div class="about-prea">
                            <p class="pb-30">
                                At Alpha Zone News, we believe that access to reliable and impartial information is
                                essential for an informed and empowered society. Our mission is to deliver news that
                                matters, without any bias, so our readers can navigate the complexities of the world
                                with confidence and clarity.
                            </p>

                            <h3>Unraveling the World:</h3>
                            <p class="pb-30">
                                Our team of experienced journalists and dedicated fact-checkers work tirelessly to bring
                                you news stories that go beyond the headlines. We dive deep into complex issues,
                                providing context, analysis, and multiple perspectives to help you understand the full
                                picture.
                            </p>

                            <h3>Embracing Multimedia:</h3>
                            <p class="pb-30">
                            We understand the power of visuals and multimedia in storytelling. Immerse yourself in
                            captivating visuals, photo galleries, and interactive features that complement our articles
                            and bring stories to life.
                            </p>

                            <h3>Your Journey, Our Priority:</h3>
                            <p class="pb-30">
                                At Alpha Zone News, you are at the heart of what we do. Your journey to staying informed
                                is our priority, and we are dedicated to empowering you with the knowledge you need to
                                navigate an ever-changing world.

                                Join us on this journey of exploration and discovery. Welcome to Alpha Zone News, your
                                gateway to a world of unbiased and enlightening news. Let's shape a more informed and
                                connected future together.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-40">
                        <h3>Follow Us</h3>
                    </div>
                    <!-- Flow Socail -->
                    <div class="single-follow mb-45">
                        <div class="single-box">
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'assets/img/news/icon-fb.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'assets/img/news/icon-tw.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'assets/img/news/icon-ins.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="{% static 'assets/img/news/icon-yo.png' %}" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- New Poster -->
                    <div class="news-poster d-none d-lg-block">
                        <img src="{% static 'assets/img/news/news_card.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About US End -->
</main>
{% endblock content %}